.image {
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 10px;
  border: 1px solid lightgray;
  overflow: hidden;
  box-sizing: content-box;
  display: inline-block;
}

.quantity {
  width: 50px;
}

.info {
  width: 320px;
  white-space: nowrap;
  overflow-x: auto;
}
