.imageWrapper {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid lightgray;
}

//.imageContainer {
//  width: 35%;
//}
//
//.formContainer {
//  width: 65%;
//}
