.imageWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid lightgray;
  overflow: hidden;
  box-sizing: content-box;
  display: inline-block;
}

.infoWrapper {
  width: calc(100% - 150px - 3rem);
}

.priceWrapper {
  display: block;

  height: 36px;

  background-color: #7dbf26;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #7dbf26;

  /* This makes room for the triangle */
  /* margin-left: 7px; */

  position: relative;

  color: white;
  font-weight: bold;
  /* font-size: 22px; */
  line-height: 36px;

  padding: 0 10px 0 10px;

  &.notInStock {
    background-color: red;
    border-left-color: red;

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: -18px;
      width: 0;
      height: 0;
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-right: 18px solid red;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: -18px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid #7dbf26;
  }

  &::after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -8px;
    top: 16px;
  }
}
